.autocomplete {
  width: fit-content;
  min-width: 250px;
}
.autocomplete-label {
  height: 24px;
}

.autocomplete:focus {
  border: 1px solid gray !important;
}

/* to show the  autocomplete separator between clear and popup buttons  */
.autocomplete .popupIndicator-separator .MuiInputBase-input {
  border-radius: 0;
  border-right: 1px solid rgb(204, 204, 204) !important;
  /* margin-right: 6px; */
  /* color: red; */
}

.autocomplete .popupIndicator-separator-after-clear-indicator {
  border-radius: 0;
  border-right: 1px solid rgb(204, 204, 204) !important;
}

/* .autocomplete .pop-indicator-padding {
    padding-left: 6px;
  } */

.autocomplete .autocomplete-chip-margin-right {
  margin-right: 6px !important;
}

.autocomplete-chip-margin-right-0 {
  margin-right: 0px !important;
}

.autocomplete-chip .MuiChip-deleteIcon {
  color: #555555 !important;
  width: 18px;
  height: 18px;
}

.autocomplete-chip .MuiChip-deleteIcon:hover {
  background: rgb(255, 189, 173);
  color: rgb(222, 53, 11) !important;
  border-radius: 4px;
}

.autocomplete .MuiAutocomplete-clearIndicator {
  background: none !important;
  visibility: visible !important;
}

.autocomplete .MuiAutocomplete-popupIndicator {
  background: none !important;
}

/*  conditionally pass the border class to popup indicator */
.autocomplete .MuiAutocomplete-popupIndicator-border-left {
  border-radius: 0px !important;
  border-left: 1px solid rgb(204, 204, 204) !important;
  border-right: 0 !important;
}

.autocomplete .MuiAutocomplete-popupIndicator-border-right {
  border-radius: 0px !important;
  border-right: 1px solid rgb(204, 204, 204) !important;
  border-left: 0 !important;
}
